.section__1 {
    background-image: url(/img/background1.png);
    background-repeat: no-repeat;
    background-color: var(--darkgrey);
    background-size: cover;
    @extend %centered;
    flex-direction: column;
    padding: 200px;

    .advertisement {
        text-align: center !important;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 3px;
        color: var(--white);
    }

    #button {
        background-color: var(--blue);
        display: inline-block;
        text-align: center;
        font: bold 16px;
        line-height: 50px;
        letter-spacing: 6%;
        border-radius: 4px;
        border: none;
        padding: 0 20px;
        margin-top: 20px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background-color: #188CE8;
            box-shadow: 0px 4px 15px rgb(15, 15, 15);
            transform: scale(1.03);
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

.section__2 {
    @extend %centered;

    .section2__box {
        display: flex;
        margin-top: 94px;

        .advantage {
            flex: 1 1 200px;
            margin: 10px;
            text-align: center;
            transition: all 250ms ease-out;

            &:hover {
                transform: scale(1.1);
                transition: all 250ms ease-out;
            }

            .svg {
                width: 270px;
                height: 120px;
                background-color: #F5F4FA;
                margin-left: 20px;
                border-radius: 5px;
            }

            .my__text {
                .advantages {
                    font: 700 14px 'Roboto', sans-serif;
                    color: #212121;
                    text-align: start;
                    margin-left: 25px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

                .paragraf {
                    font: 400 14px 'Roboto', sans-serif;
                    text-align: left;
                    color: var(--grey);
                    margin-left: 25px;
                }

            }
        }
    }
}

/* icon & svg */

.icon {
    padding: 25px 100px;
    border-radius: 4px;
    background-color: var(--creamwhite);
}

.section3__box {
    flex-wrap: wrap;
    padding-bottom: 94px;

    .headers {
        text-align: center;
        margin: 94px 0 50px 0;

        h2 {
            @extend %fontsection;
        }

    }

    .box__section {
        @extend %centered;

        .box {
            margin: 0 30px;

            &:nth-child(1) {
                background-image: url(/img/box1.jpg);
                width: 370px;
                height: 294px;
            }

            &:nth-child(2) {
                background-image: url(/img/box2.png);
                width: 370px;
                height: 294px;
            }

            &:nth-child(3) {
                background-image: url(/img/box3.png);
                width: 370px;
                height: 294px;
            }

            .box__text {
                color: white;
                background-color: var(--darkgrey);
                text-align: center;
                padding: 23px 50px;
                opacity: 85%;
                margin-top: 221px;
            }
        }
    }
}

// хз шось лишнє
// .headers__box {
//     font-weight: bold;
//     font-size: 36px;
//     padding-top: 94px;
// }

/* наша група */

.section__4 {
    background-color: var(--creamwhite);
    padding-bottom: 94px;

    .headers {
        text-align: center;
        margin: 94px 0 50px 0;

        h2 {
            @extend %fontsection;
        }

    }

    .team__grid {
        @extend %centered;

        .person {
            text-align: center;
            margin: 0 30px;
            background-color: var(--white);
            width: 270px;
            height: 420px;
            box-shadow: -10px -5px 10px -15px rgba(0, 0, 0, 0.568), 0px 1px 1px 0px rgba(0, 0, 0, 0.568);
            border-radius: 0px 0px 4px 4px;

            .name__person {
                font: 500 16px 'Roboto', sans-serif;
                line-height: 19px;
                letter-spacing: 3%;
                color: #212121;
                margin-top: 20px;
            }

            .make {
                font: 400 16px 'Roboto';
                line-height: 19px;
                letter-spacing: 3%;
                color: #757575;
                margin-top: 10px;
            }

            .person__icon {
                display: flex;
                padding-left: 28px;
                gap: 10px;
                margin-top: 16px;
                margin-bottom: 30px;
            }

            .icon__hever {
                fill: #AFB1B8;
                width: 44px;
                height: 44px;
                border-radius: 100%;
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

                &:hover {
                    background-color: #2196F3;
                    fill: #FFFFFF;
                    border: none;
                    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    cursor: pointer;
                }
            }
        }
    }
}

.section__5 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 94px 120px;

    h3 {
        @extend %fontsection;
    }

    .logo__box {

        .logo__img {
            padding: 16px 32px;
            border: 1px solid #AFB1B8;
            border-radius: 4px;
            margin-right: 30px;
            width: 170px;
            height: 92px;
            fill: #AFB1B8;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover {
                padding: 16px 32px;
                border: 1px solid #2196F3;
                border-radius: 4px;
                margin-right: 30px;
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
                cursor: pointer;
                transform: scale(1.1);
                fill: #2196F3;
            }
        }
    }
}