.footer__container1 {
    background-color: var(--darkgrey);
}

.footer {
    background-color: var(--darkgrey);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-left: -1px;
}

.footer__container {
    height: 252px;
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    margin-top: 60px;
}

.footer__section {
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.WebStudio2 {
    text-align: left;
    font-weight: bold;
    font-size: 26px;
    line-height: auto;
    letter-spacing: 3%;
    cursor: pointer;
}

.footer__div {
    margin-left: 10px;
}

.icon__footer {
    fill: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.1);
    margin-right: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__footer1 {
    fill: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.1);
    margin-right: 2px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__footer1:hover {
    border-radius: 100%;
    border: none;
    fill: #FFFFFF;
    background-color: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.icon__footer:hover {
    border-radius: 100%;
    border: none;
    fill: #FFFFFF;
    background-color: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.s__input {
    margin-top: 72px;
    margin-left: 93px;
    margin-right: -10px;
}

.div__input {
    display: flex;
}

.email {
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid #FFFFFF30;
}

input::placeholder {
    padding-left: 16px;
}

.button__ul {
    display: flex;
    list-style: none;
}