
@media (max-width: 768px) and (max-width: 1440px) {
    .header__container {
        align-items: center;

        .WebStudio {
            @include text-style(700, 26px, 'Roboto', 30px, #212121, left);
            margin-left: -150px;
        }
    }

    .header__nav {
        margin-left: 86px;
        margin-right: 96px;

    }

    .nav__contact {
        flex-direction: column;
        width: 131px;

        .contact {
            width: 138px;

            .svg__head {
                width: 106px;
                height: 12px;
                fill: #AFB1B8;
                display: flex;
                position: relative;
                top: 15px;
            }

            .header__a {
                @include text-style(500, 12px, 'Roboto', 14px, #757575, none);
                margin-left: 8px;
            }
        }
    }

    .header__link {
        @include text-style(500, 14px, 'Roboto', 16px, #212121, none);
    }
}

    @media (max-width: 320px) {
        .header__container {
            width: 320px;

            .WebStudio {
                @include text-style(700, 24px, 'Roboto', 28px, #212121, );
                margin-left: -535px;
            }
        }

        .header__nav {
            display: none;
        }

        .nav__contact {
            display: none;
        }
    }